/**************** LOGIN BOX *******************/

.qwebirc-centrebox {
  height: 100%;
  width: 100%;
}

.qwebirc-centrebox table {
  width: 100%;
}

.qwebirc-centrebox table table {
  width: auto;
}

.qwebirc-loginbox .tr1 td {
  width: 100%;
  text-align: center;
}

.qwebirc-loginbox .tr1 td h1 {
  padding-top: 0em;
  margin-top: 0em;
}

.qwebirc-loginbox .tr2 td {
  vertical-align: top;
}

.qwebirc-loginbox .tr2 table {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/**************** CONFIRM LOGIN BOX *******************/
.qwebirc-confirmbox {
  width: 100%;
  vertical-align: middle;
}

.qwebirc-confirmbox .tr1 td {
  width: 100%;
  vertical-align: bottom;
  text-align: center;
}

.qwebirc-confirmbox .tr2 td {
  width: 100%;
  vertical-align: top;
  text-align: center;
}

/**************** ABOUT PANE *******************/
.qwebirc-paneAbout {
  font-size: 1em !important;
}

.qwebirc-paneAbout .mainbody {
  font-size: 0.8em;
  text-align: center;
  padding: 5px;
}

.qwebirc-paneAbout table {
  display: inline-block;
}

.qwebirc-paneAbout div.header {
  padding-top: 5px;
}

.qwebirc-paneAbout .header {
  background: white;
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.qwebirc-paneAbout .header .title {
  font-size: 3em;
}

.qwebirc-paneAbout .header .subtitle {
  text-align: center;
  margin-top: 10px;
}

.qwebirc-paneAbout .skipmargin {
  margin-top: 0px;
}

/**************** EMBEDDED WIZARD *******************/
 div.qwebirc-paneEmbed {
  padding-left: 5px;
  padding-top: 2px;
}

.qwebirc-paneEmbed input.text {
  width: 300px;
}

.qwebirc-paneEmbed input.iframetext {
  width: 95%;
}

.qwebirc-paneEmbed div.wizardcontrols {
}

.qwebirc-paneEmbed .wizardcontrols input {
  width: 70px;
}

/**************** PRIVACY POLICY PANE *******************/
.qwebirc-panePrivacyPolicy {
  font-size: 1em !important;
}

.qwebirc-panePrivacyPolicy .mainbody {
  font-size: 0.8em;
  text-align: center;
  padding: 5px;
}

.qwebirc-panePrivacyPolicy table {
  display: inline-block;
}

.qwebirc-panePrivacyPolicy div.header {
  padding-top: 5px;
}

.qwebirc-panePrivacyPolicy .header {
  background: white;
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.qwebirc-panePrivacyPolicy .header .title {
  font-size: 3em;
}

.qwebirc-panePrivacyPolicy .header .subtitle {
  text-align: center;
  margin-top: 10px;
}

.qwebirc-panePrivacyPolicy .monospace {
  font-family: Consolas, "Lucida Console", monospace;
}

/****** FEEDBACK ***********/
.qwebirc-paneFeedback {
  font-size: 1em !important;
}

.qwebirc-paneFeedback .mainbody {
  font-size: 0.8em;
  text-align: center;
  padding: 5px;
}

.qwebirc-paneFeedback table {
  display: inline-block;
}

.qwebirc-paneFeedback div.header {
  padding-top: 5px;
}

.qwebirc-paneFeedback .header {
  background: white;
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.qwebirc-paneFeedback .header .title {
  font-size: 3em;
}

.qwebirc-paneFeedback .header .subtitle {
  text-align: center;
  margin-top: 10px;
}

.qwebirc-paneFeedback .monospace {
  font-family: Consolas, "Lucida Console", monospace;
}

/************* FAQ *****************/

.qwebirc-paneFAQ {
  font-size: 1em !important;
}

.qwebirc-paneFAQ .mainbody {
  font-size: 0.8em;
  text-align: center;
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.qwebirc-paneFAQ table {
  display: inline-block;
}

.qwebirc-paneFAQ div.header {
  padding-top: 5px;
}

.qwebirc-paneFAQ .header {
  background: white;
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.qwebirc-paneFAQ .header .title {
  font-size: 3em;
}

.qwebirc-paneFAQ .header .subtitle {
  text-align: center;
  margin-top: 10px;
}

.qwebirc-paneFAQ .monospace {
  font-family: Consolas, "Lucida Console", monospace;
}

.qwebirc .loading {
  padding-left: 4px;
  padding-top: 3px;
  font-size: 0.8em;
}

/************* OPTIONS *****************/

.qwebirc-paneOptions div.hue-slider {
  margin-top: 5px;
  border: 0px solid black;
  width: 360px;
  height: 8px;
  background-image: url(../images/hue.png);
}

.qwebirc-paneOptions div.sat-slider {
  margin-top: 5px;
  border: 0px solid black;
  width: 360px;
  height: 8px;
  background-image: url(../images/saturation.png);
}

.qwebirc-paneOptions div.light-slider {
  margin-top: 5px;
  margin-bottom: 3px;
  border: 0px solid black;
  width: 360px;
  height: 8px;
  background-image: url(../images/lightness.png);
}

.qwebirc-paneOptions div .knob {
  width: 8px;
  height: 16px;
  top: -5px;
  opacity: 0.75;
  background: grey;
  border: 1px solid black;
}

.qwebirc-paneOptions .hexform {
  display: inline;
  margin-right: 3px;
}

/************* LIST *****************/

.qwebirc-paneList .filterbox {
  padding: 0.3em;
  text-align: center;
}

.qwebirc-paneList .filterbox .inputbox {
  padding: 0 0.3em;
}

.qwebirc-paneList .pagebox {
  padding: 0.3em;
  text-align: center;
}

.qwebirc-paneList .chanbox {
  width: 100%;
  clear: both;
  border-style: solid;
  border-width: 0 0 1px 0;
}

.qwebirc-paneList .chanbox .name {
  width: 11em;
}

.qwebirc-paneList .chanbox .users {
  text-align: center;
  width: 4em;
}

.qwebirc-paneList .chanbox th {
  padding: 0.3em;
  text-align: center;
  font-weight: bold;
  border-width: 1px 1px 1px 0;
  border-style: solid;
}

.qwebirc-paneList .chanbox th.chantopic {
  border-width: 1px 0 1px 0;
}

.qwebirc-paneList .chanbox td {
  padding: 0.3em;
  border-width: 0 1px 0 0;
  border-style: solid;
}

.qwebirc-paneList .chanbox td.loading {
  padding: 0.3em;
  border-width: 1px 0 0 0;
  border-style: solid;
}

.qwebirc-paneList .chanbox td.chantopic {
  border-width: 0;
}

.qwebirc-paneList .chanbox tr:hover td.chan1 {
  cursor: pointer;
  cursor: hand;
}

.qwebirc-paneList .chanbox tr:hover td.chan2 {
  cursor: pointer;
  cursor: hand;
}

.qwebirc-paneList .chanbox tr:hover td.name {
  text-decoration: underline;
}
