/* JavaScript configuration.
 * Adds to the configuration loaded from the URL, set in the options panel,
 * etc. Adjust as necessary for your network.
 */

// The domain used for cookies recording your username and authentication token.
qwebirc.config.cookieDomain = "example.com";
